# Ren'Py Project Files temp files to be ignored in Git

project.json
*.rpyc
*.bak
*.rpy~
*.rpyc~
*.rpymb
*.rpyb
*.log
*.mxc2
launcherinfo.py
log.txt
errors.txt
traceback.txt

# Temporary folders
[t]mp
game/saves
game/cache
*-*-dists

# Compressed files of build distributions
*.zip
*.tar.bz2

# Android private key files
android.keystore
bundle.keystore